.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 5px;
}

.title.xs {
    font-size: 10px;
}

.title.sm {
    font-size: 12px;
}

.title.md {
    font-size: 14px;
}

.title.lg {
    font-size: 16px;
}